<a href="https://colab.research.google.com/github/avanegasp/Google_Colab/blob/main/curso_rafa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
gender = np.random.choice(['F', 'M'], size = 100)
gender

array(['F', 'F', 'M', 'F', 'F', 'F', 'F', 'F', 'F', 'M', 'F', 'F', 'F',
       'M', 'M', 'M', 'F', 'F', 'F', 'M', 'M', 'M', 'F', 'F', 'F', 'F',
       'M', 'F', 'F', 'M', 'F', 'F', 'F', 'M', 'F', 'F', 'F', 'M', 'F',
       'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'F', 'F', 'M', 'F', 'F',
       'F', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'F', 'F', 'F',
       'F', 'M', 'F', 'M', 'M', 'M', 'M', 'F', 'F', 'F', 'F', 'M', 'F',
       'M', 'M', 'F', 'M', 'F', 'M', 'F', 'F', 'M', 'M', 'M', 'M', 'F',
       'F', 'M', 'M', 'F', 'M', 'M', 'F', 'M', 'F'], dtype='<U1')

In [ ]:
age = np.random.randint(18, 60, size=100)
age

array([37, 42, 35, 45, 42, 23, 34, 41, 32, 50, 41, 21, 49, 33, 56, 47, 19,
       41, 40, 50, 23, 32, 29, 23, 40, 30, 30, 44, 45, 20, 23, 19, 53, 53,
       50, 23, 20, 23, 19, 35, 18, 22, 20, 34, 49, 30, 42, 23, 46, 42, 22,
       20, 22, 48, 30, 56, 27, 45, 48, 22, 54, 37, 29, 49, 21, 41, 30, 30,
       26, 24, 39, 48, 54, 59, 19, 25, 34, 42, 45, 40, 33, 38, 32, 45, 30,
       44, 47, 55, 57, 46, 28, 18, 41, 19, 43, 24, 31, 28, 44, 55])

In [ ]:
print('genero:',gender[0:100])
print('edad:', age[0:100])

genero: ['M' 'F' 'M' 'M' 'M']
edad: [28 35 41 21 48]

### Dataframe

In [ ]:
df_edad_genero = pd.DataFrame([
    'edad:', age,
    'genero:', gender
])

In [ ]:
df_edad_genero.head()

                                                   0
0                                              edad:
1  [28, 35, 41, 21, 48, 27, 59, 58, 53, 38, 25, 5...
2                                            genero:
3  [M, F, M, M, M, F, F, M, M, F, M, F, M, F, F, ...

In [ ]:
df_edad_genero.count()

0    4
dtype: int64

In [ ]:
print(age, gender)

[26 18 44 41 59 40 25 40 32 49 32 47 49 32 35 27 54 59 23 36 43 21 29 19
 42 38 31 38 46 36 48 33 21 23 38 32 41 34 57 33 56 58 51 19 34 47 41 51
 40 44 31 20 36 23 48 26 59 46 35 34 38 20 29 49 28 58 38 51 27 44 18 37
 37 59 36 20 50 37 56 48 53 57 32 30 27 49 44 20 37 35 49 35 52 24 23 19
 18 29 25 52] ['M' 'F' 'M' 'M' 'M' 'F' 'F' 'M' 'M' 'F' 'M' 'F' 'M' 'F' 'F' 'M' 'F' 'M'
 'M' 'M' 'M' 'M' 'M' 'F' 'M' 'F' 'M' 'F' 'M' 'M' 'F' 'M' 'M' 'M' 'F' 'M'
 'F' 'M' 'F' 'F' 'M' 'F' 'F' 'M' 'M' 'F' 'M' 'M' 'F' 'M' 'M' 'F' 'M' 'F'
 'M' 'M' 'M' 'M' 'M' 'F' 'F' 'M' 'M' 'F' 'M' 'F' 'F' 'F' 'M' 'M' 'F' 'F'
 'M' 'F' 'F' 'M' 'F' 'M' 'M' 'M' 'F' 'F' 'F' 'F' 'F' 'M' 'F' 'F' 'M' 'M'
 'M' 'M' 'F' 'M' 'F' 'F' 'M' 'M' 'M' 'M']

In [ ]:
age.mean()

35.82

In [ ]:
df_edad_genero

                                                   0
0                                              edad:
1  [28, 35, 41, 21, 48, 27, 59, 58, 53, 38, 25, 5...
2                                            genero:
3  [M, F, M, M, M, F, F, M, M, F, M, F, M, F, F, ...

In [ ]:
df_genero_count = df_edad_genero

In [ ]:
df_genero_count = df_edad_genero.groupby(['genero']).count()

KeyError: ignored

In [ ]:
df_genero_count = df_edad_genero.rename(columns={'edad':'count'})
df_genero_count

                                                   0
0                                              edad:
1  [28, 35, 41, 21, 48, 27, 59, 58, 53, 38, 25, 5...
2                                            genero:
3  [M, F, M, M, M, F, F, M, M, F, M, F, M, F, F, ...